html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
}
form{
    width: 100%;
    max-width: 900px;
    min-height: 100vh; /* hace que al menos ocupe toda la altura visible */
    margin: auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
    


form img{
    height: 30px;
    width: 30px;
} 
.logo-img {
    height: 60px; /* ajustá según el tamaño que quieras */
    width: auto;
  }
  
.boton-registrar {
padding-left: 350px;
}